src/main/resources/CounterpartyControlService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://irule.spi2.ru/jaxws/iasproverka" name="CounterpartyControlService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://irule.spi2.ru/jaxws/iasproverka" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://irule.spi2.ru/jaxws/agreecontract" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://irule.spi2.ru/jaxws/datatypes">

      <xs:import namespace="http://irule.spi2.ru/jaxws/datatypes"/>

      <xs:element name="task">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="taskUrl" type="xs:string" minOccurs="0"/>
            <xs:element name="taskDateTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="procedureNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="contract" type="ns1:Contract"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://irule.spi2.ru/jaxws/iasproverka" xmlns:ns5="http://irule.spi2.ru/jaxws/agreecontract" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://irule.spi2.ru/jaxws/datatypes" xmlns:ns4="http://irule.spi2.ru/jaxws/concurprocess" xmlns:ns3="http://irule.spi2.ru/jaxws/responsetypes">

      <xs:import namespace="http://irule.spi2.ru/jaxws/datatypes"/>

      <xs:import namespace="http://irule.spi2.ru/jaxws/responsetypes"/>

      <xs:import namespace="http://irule.spi2.ru/jaxws/concurprocess"/>

      <xs:import namespace="http://irule.spi2.ru/jaxws/agreecontract"/>

      <xs:element name="ConcurrentProcedureConclusionRequestAsync" type="tns:ConcurrentProcedureConclusionRequestAsync"/>

      <xs:element name="ConcurrentProcedureConclusionRequestAsyncResponse" type="tns:ConcurrentProcedureConclusionRequestAsyncResponse"/>

      <xs:element name="ContractConclusionRequestAsync" type="tns:ContractConclusionRequestAsync"/>

      <xs:element name="ContractConclusionRequestAsyncResponse" type="tns:ContractConclusionRequestAsyncResponse"/>

      <xs:element name="PutContractStatus" type="tns:PutContractStatus"/>

      <xs:element name="PutContractStatusResponse" type="tns:PutContractStatusResponse"/>

      <xs:element name="PutCounterpartyBankDetails" type="tns:PutCounterpartyBankDetails"/>

      <xs:element name="PutCounterpartyBankDetailsResponse" type="tns:PutCounterpartyBankDetailsResponse"/>

      <xs:element name="PutCounterpartyContacts" type="tns:PutCounterpartyContacts"/>

      <xs:element name="PutCounterpartyContactsResponse" type="tns:PutCounterpartyContactsResponse"/>

      <xs:element name="PutCounterpartyIdoSrmDetails" type="tns:PutCounterpartyIdoSrmDetails"/>

      <xs:element name="PutCounterpartyIdoSrmDetailsResponse" type="tns:PutCounterpartyIdoSrmDetailsResponse"/>

      <xs:element name="PutCounterpartySrmId" type="tns:PutCounterpartySrmId"/>

      <xs:element name="PutCounterpartySrmIdResponse" type="tns:PutCounterpartySrmIdResponse"/>

      <xs:element name="PutHistoricalContracts" type="tns:PutHistoricalContracts"/>

      <xs:element name="PutHistoricalContractsResponse" type="tns:PutHistoricalContractsResponse"/>

      <xs:element name="ResponseSync" type="ns3:ResponseSync"/>

      <xs:element name="&#1057;heckAndSaveRegistrCounterpartySRM_Async" type="tns:&#1057;heckAndSaveRegistrCounterpartySRM_Async"/>

      <xs:element name="&#1057;heckAndSaveRegistrCounterpartySRM_AsyncResponse" type="tns:&#1057;heckAndSaveRegistrCounterpartySRM_AsyncResponse"/>

      <xs:complexType name="PutCounterpartyContacts">
        <xs:sequence>
          <xs:element name="arg0" type="ns2:Header" minOccurs="0"/>
          <xs:element name="arg1" type="xs:decimal" minOccurs="0"/>
          <xs:element name="arg2" type="ns2:Contact" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutCounterpartyContactsResponse">
        <xs:sequence>
          <xs:element ref="tns:ResponseSync" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>


      <xs:complexType name="ConcurrentProcedureConclusionRequestAsync">
        <xs:sequence>
          <xs:element name="arg0" type="ns2:Header" minOccurs="0"/>
          <xs:element name="arg1" type="ns4:ConcurrentProcedure" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="offer">
        <xs:sequence>
          <xs:element ref="ns4:offertaAmmount" minOccurs="0"/>
          <xs:element ref="ns4:sap_srm_id" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ConcurrentProcedureConclusionRequestAsyncResponse">
        <xs:sequence>
          <xs:element ref="tns:ResponseSync" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutHistoricalContracts">
        <xs:sequence>
          <xs:element name="arg0" type="ns2:Header" minOccurs="0"/>
          <xs:element name="arg1" type="ns2:Contract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutHistoricalContractsResponse">
        <xs:sequence>
          <xs:element ref="tns:ResponseSync" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="&#1057;heckAndSaveRegistrCounterpartySRM_Async">
        <xs:sequence>
          <xs:element name="arg0" type="ns2:Header" minOccurs="0"/>
          <xs:element name="arg1" type="ns2:Counterparty" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="&#1057;heckAndSaveRegistrCounterpartySRM_AsyncResponse">
        <xs:sequence>
          <xs:element ref="tns:ResponseSync" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutCounterpartyIdoSrmDetails">
        <xs:sequence>
          <xs:element name="arg0" type="ns2:Header" minOccurs="0"/>
          <xs:element name="arg1" type="xs:decimal" minOccurs="0"/>
          <xs:element name="arg2" type="tns:idoSrmDetails" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="idoSrmDetails">
        <xs:sequence>
          <xs:element ref="ns4:procedureNumber"/>
          <xs:element ref="ns4:procedureStepNumber"/>
          <xs:element name="isConfirmLocation" type="xs:boolean"/>
          <xs:element name="confirmLocationDocDate" type="xs:dateTime"/>
          <xs:element name="confirmLocationDocUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="isConfirmAbility" type="xs:boolean"/>
          <xs:element name="confirmAbilityDocDate" type="xs:dateTime"/>
          <xs:element name="confirmAbilityDocUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="taxReportingUrl" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutCounterpartyIdoSrmDetailsResponse">
        <xs:sequence>
          <xs:element ref="tns:ResponseSync" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutCounterpartyBankDetails">
        <xs:sequence>
          <xs:element name="arg0" type="ns2:Header" minOccurs="0"/>
          <xs:element name="arg1" type="xs:decimal" minOccurs="0"/>
          <xs:element name="arg2" type="ns2:BankDetail" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutCounterpartyBankDetailsResponse">
        <xs:sequence>
          <xs:element ref="tns:ResponseSync" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ContractConclusionRequestAsync">
        <xs:sequence>
          <xs:element name="arg0" type="ns2:Header" minOccurs="0"/>
          <xs:element name="arg1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="taskUrl" type="xs:string" minOccurs="0"/>
                <xs:element name="taskDateTime" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="procedureNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="contract" type="ns2:Contract"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ContractConclusionRequestAsyncResponse">
        <xs:sequence>
          <xs:element ref="tns:ResponseSync" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutContractStatus">
        <xs:sequence>
          <xs:element name="arg0" type="ns2:Header" minOccurs="0"/>
          <xs:element name="arg1" type="xs:string" minOccurs="0"/>
          <xs:element name="arg2" type="ns2:Dictionary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutContractStatusResponse">
        <xs:sequence>
          <xs:element ref="tns:ResponseSync" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutCounterpartySrmId">
        <xs:sequence>
          <xs:element name="arg0" type="ns2:Header" minOccurs="0"/>
          <xs:element name="arg1" type="tns:counterpartySapIdentities" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="counterpartySapIdentities">
        <xs:sequence>
          <xs:element name="regrequestid" type="xs:decimal"/>
          <xs:element name="inn" type="xs:string"/>
          <xs:element name="okpo" type="xs:string" minOccurs="0"/>
          <xs:element name="foreign_reg_num" type="xs:string"/>
          <xs:element name="sparkId" type="xs:string" minOccurs="0"/>
          <xs:element name="sap_srm_id" type="xs:decimal"/>
          <xs:element name="regDate" type="xs:date"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutCounterpartySrmIdResponse">
        <xs:sequence>
          <xs:element ref="tns:ResponseSync" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://irule.spi2.ru/jaxws/datatypes" xmlns:ns6="http://irule.spi2.ru/jaxws/concurprocess" xmlns:tns="http://irule.spi2.ru/jaxws/datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://irule.spi2.ru/jaxws/concurprocess"/>

      <xs:complexType name="Header">
        <xs:sequence>
          <xs:element name="requestid" type="xs:long"/>
          <xs:element name="externalsystem" type="xs:string"/>
          <xs:element name="requestdate" type="xs:dateTime"/>
          <xs:element name="senddate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Contact">
        <xs:sequence>
          <xs:element name="firstName" type="xs:string" minOccurs="0"/>
          <xs:element name="secondName" type="xs:string" minOccurs="0"/>
          <xs:element name="lastName" type="xs:string" minOccurs="0"/>
          <xs:element name="inn" type="xs:string" minOccurs="0"/>
          <xs:element name="post" type="xs:string" minOccurs="0"/>
          <xs:element name="phone" type="xs:string" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="language" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Contract">
        <xs:sequence>
          <xs:element ref="ns6:counterparty"/>
          <xs:element name="contractId" type="xs:string"/>
          <xs:element name="contractUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="cardDate" type="xs:date" minOccurs="0"/>
          <xs:element name="registrationNumber" type="xs:string"/>
          <xs:element name="registrationDate" type="xs:date" minOccurs="0"/>
          <xs:element name="siburOrg" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="subject" type="xs:string" minOccurs="0"/>
          <xs:element name="subCategory" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="kind" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="ddKind" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="vvAmount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="transactionAmount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="framework" type="xs:boolean"/>
          <xs:element name="advancePaymentType" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="advancePaymentAmount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="postponement" type="xs:boolean"/>
          <xs:element name="vzKind" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="safeList" type="xs:boolean"/>
          <xs:element name="isDefault" type="xs:boolean"/>
          <xs:element name="urgent" type="xs:string" minOccurs="0"/>
          <xs:element name="approvalStage" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="version" type="xs:string" minOccurs="0"/>
          <xs:element name="receiveDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="completeonDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="visa" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="note" type="xs:string" minOccurs="0"/>
          <xs:element name="be" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="contractPersons" type="tns:ContractPerson" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Counterparty">
        <xs:sequence>
          <xs:element name="companyRus" type="tns:CompanyRus" minOccurs="0"/>
          <xs:element name="fl" type="tns:PersonRUS" minOccurs="0"/>
          <xs:element name="flPrivateEntrepreneur" type="tns:PrivateEntrepreneur" minOccurs="0"/>
          <xs:element name="companyForeign" type="tns:ForeignCompany" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CompanyRus">
        <xs:complexContent>
          <xs:extension base="tns:CounterpartyInfo">
            <xs:sequence>
              <xs:element name="fullName" type="xs:string" minOccurs="0"/>
              <xs:element name="shortName" type="xs:string" minOccurs="0"/>
              <xs:element name="inn" type="xs:string"/>
              <xs:element name="kpp" type="xs:string" minOccurs="0"/>
              <xs:element name="ogrn" type="xs:string" minOccurs="0"/>
              <xs:element name="okpo" type="xs:string"/>
              <xs:element name="bic" type="xs:string"/>
              <xs:element name="sparkid" type="xs:string" minOccurs="0"/>
              <xs:element name="counterpartyInfo" type="tns:CounterpartyInfo" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="CounterpartyInfo">
        <xs:sequence>
          <xs:element name="asvnsicode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PersonRUS">
        <xs:sequence>
          <xs:element name="firstName" type="xs:string" minOccurs="0"/>
          <xs:element name="secondName" type="xs:string" minOccurs="0"/>
          <xs:element name="lastName" type="xs:string" minOccurs="0"/>
          <xs:element name="inn" type="xs:string"/>
          <xs:element name="socialSecurityNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="birthDate" type="xs:date" minOccurs="0"/>
          <xs:element name="birthPlace" type="xs:string" minOccurs="0"/>
          <xs:element name="passport" type="tns:Passport" minOccurs="0"/>
          <xs:element name="counterpartyInfo" type="tns:CounterpartyInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Passport">
        <xs:sequence>
          <xs:element name="series" type="xs:string"/>
          <xs:element name="number" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PrivateEntrepreneur">
        <xs:sequence>
          <xs:element name="inn" type="xs:string"/>
          <xs:element name="fio" type="xs:string" minOccurs="0"/>
          <xs:element name="ogrnip" type="xs:string"/>
          <xs:element name="okpo" type="xs:string" minOccurs="0"/>
          <xs:element name="counterpartyInfo" type="tns:CounterpartyInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ForeignCompany">
        <xs:sequence>
          <xs:element name="regNum" type="xs:string"/>
          <xs:element name="regDate" type="xs:date"/>
          <xs:element name="issuingAuthority" type="xs:string"/>
          <xs:element name="fullName" type="xs:string"/>
          <xs:element name="shortName" type="xs:string"/>
          <xs:element name="nativeName" type="xs:string"/>
          <xs:element name="nativeShortName" type="xs:string" minOccurs="0"/>
          <xs:element name="country" type="xs:string"/>
          <xs:element name="phoneNumber" type="xs:string"/>
          <xs:element name="email" type="xs:string"/>
          <xs:element name="site" type="xs:string"/>
          <xs:element name="address" type="tns:Address"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element name="addrType" type="tns:AddressTypes"/>
          <xs:element name="mailBox" type="xs:string" minOccurs="0"/>
          <xs:element name="country" type="xs:string"/>
          <xs:element name="city" type="xs:string"/>
          <xs:element name="postalCode" type="xs:string"/>
          <xs:element name="street" type="xs:string"/>
          <xs:element name="house" type="xs:string"/>
          <xs:element name="room" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Dictionary">
        <xs:sequence>
          <xs:element name="code" type="xs:string"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ContractPerson">
        <xs:sequence>
          <xs:element name="role" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="employee" type="tns:Employee"/>
          <xs:element name="function" type="tns:Dictionary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Employee">
        <xs:sequence>
          <xs:element name="PersonnelNumber" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BankDetail">
        <xs:sequence>
          <xs:element name="country" type="xs:string"/>
          <xs:element name="bic" type="xs:string"/>
          <xs:element name="swift" type="xs:string"/>
          <xs:element name="checkingAccount" type="xs:string"/>
          <xs:element name="accountCurrency" type="xs:string"/>
          <xs:element name="bankName" type="xs:string" minOccurs="0"/>
          <xs:element name="correspondentAccount" type="xs:string" minOccurs="0"/>
          <xs:element name="bankAddress" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="AddressTypes">
        <xs:restriction base="xs:string">
          <xs:enumeration value="LEGALADDR"/>
          <xs:enumeration value="POSTADDR"/>
          <xs:enumeration value="ACTUAL"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://irule.spi2.ru/jaxws/concurprocess" xmlns:ns8="http://irule.spi2.ru/jaxws/datatypes" xmlns:ns7="http://irule.spi2.ru/jaxws/iasproverka" xmlns:tns="http://irule.spi2.ru/jaxws/concurprocess" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://irule.spi2.ru/jaxws/iasproverka"/>

      <xs:import namespace="http://irule.spi2.ru/jaxws/datatypes"/>

      <xs:element name="counterparty" type="ns8:Counterparty"/>

      <xs:element name="offertaAmmount" type="xs:decimal"/>

      <xs:element name="procedureNumber" type="xs:string"/>

      <xs:element name="procedureStepNumber" type="xs:string"/>

      <xs:element name="sap_srm_id" type="xs:decimal"/>

      <xs:element name="task" type="tns:ConcurrentProcedure"/>

      <xs:complexType name="ConcurrentProcedure">
        <xs:sequence>
          <xs:element name="procedureNumber" type="xs:string" form="qualified"/>
          <xs:element name="procedureStepNumber" type="xs:string" form="qualified"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="status_date" type="xs:string" minOccurs="0"/>
          <xs:element name="participatorsOffers" type="ns7:offer" form="qualified" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://irule.spi2.ru/jaxws/responsetypes" xmlns:tns="http://irule.spi2.ru/jaxws/responsetypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <!--<xs:element name="ResponseSync" type="tns:ResponseSync"/>-->

      <xs:complexType name="ResponseSync">
        <xs:sequence>
          <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
          <xs:element name="resultMessage" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="&#1057;heckAndSaveRegistrCounterpartySRM_Async">
    <part name="parameters" element="tns:&#1057;heckAndSaveRegistrCounterpartySRM_Async"/>
  </message>
  <message name="&#1057;heckAndSaveRegistrCounterpartySRM_AsyncResponse">
    <part name="parameters" element="tns:&#1057;heckAndSaveRegistrCounterpartySRM_AsyncResponse"/>
  </message>
  <message name="ConcurrentProcedureConclusionRequestAsync">
    <part name="parameters" element="tns:ConcurrentProcedureConclusionRequestAsync"/>
  </message>
  <message name="ConcurrentProcedureConclusionRequestAsyncResponse">
    <part name="parameters" element="tns:ConcurrentProcedureConclusionRequestAsyncResponse"/>
  </message>
  <message name="PutHistoricalContracts">
    <part name="parameters" element="tns:PutHistoricalContracts"/>
  </message>
  <message name="PutHistoricalContractsResponse">
    <part name="parameters" element="tns:PutHistoricalContractsResponse"/>
  </message>
  <message name="PutCounterpartyContacts">
    <part name="parameters" element="tns:PutCounterpartyContacts"/>
  </message>
  <message name="PutCounterpartyContactsResponse">
    <part name="parameters" element="tns:PutCounterpartyContactsResponse"/>
  </message>
  <message name="PutContractStatus">
    <part name="parameters" element="tns:PutContractStatus"/>
  </message>
  <message name="PutContractStatusResponse">
    <part name="parameters" element="tns:PutContractStatusResponse"/>
  </message>
  <message name="PutCounterpartySrmId">
    <part name="parameters" element="tns:PutCounterpartySrmId"/>
  </message>
  <message name="PutCounterpartySrmIdResponse">
    <part name="parameters" element="tns:PutCounterpartySrmIdResponse"/>
  </message>
  <message name="ContractConclusionRequestAsync">
    <part name="parameters" element="tns:ContractConclusionRequestAsync"/>
  </message>
  <message name="ContractConclusionRequestAsyncResponse">
    <part name="parameters" element="tns:ContractConclusionRequestAsyncResponse"/>
  </message>
  <message name="PutCounterpartyBankDetails">
    <part name="parameters" element="tns:PutCounterpartyBankDetails"/>
  </message>
  <message name="PutCounterpartyBankDetailsResponse">
    <part name="parameters" element="tns:PutCounterpartyBankDetailsResponse"/>
  </message>
  <message name="PutCounterpartyIdoSrmDetails">
    <part name="parameters" element="tns:PutCounterpartyIdoSrmDetails"/>
  </message>
  <message name="PutCounterpartyIdoSrmDetailsResponse">
    <part name="parameters" element="tns:PutCounterpartyIdoSrmDetailsResponse"/>
  </message>
  <portType name="CounterPartyControlServiceImpl">
    <operation name="&#1057;heckAndSaveRegistrCounterpartySRM_Async">
      <input wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/&#1057;heckAndSaveRegistrCounterpartySRM_AsyncRequest" message="tns:&#1057;heckAndSaveRegistrCounterpartySRM_Async"/>
      <output wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/&#1057;heckAndSaveRegistrCounterpartySRM_AsyncResponse" message="tns:&#1057;heckAndSaveRegistrCounterpartySRM_AsyncResponse"/>
    </operation>
    <operation name="ConcurrentProcedureConclusionRequestAsync">
      <input wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/ConcurrentProcedureConclusionRequestAsyncRequest" message="tns:ConcurrentProcedureConclusionRequestAsync"/>
      <output wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/ConcurrentProcedureConclusionRequestAsyncResponse" message="tns:ConcurrentProcedureConclusionRequestAsyncResponse"/>
    </operation>
    <operation name="PutHistoricalContracts">
      <input wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutHistoricalContractsRequest" message="tns:PutHistoricalContracts"/>
      <output wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutHistoricalContractsResponse" message="tns:PutHistoricalContractsResponse"/>
    </operation>
    <operation name="PutCounterpartyContacts">
      <input wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutCounterpartyContactsRequest" message="tns:PutCounterpartyContacts"/>
      <output wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutCounterpartyContactsResponse" message="tns:PutCounterpartyContactsResponse"/>
    </operation>
    <operation name="PutContractStatus">
      <input wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutContractStatusRequest" message="tns:PutContractStatus"/>
      <output wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutContractStatusResponse" message="tns:PutContractStatusResponse"/>
    </operation>
    <operation name="PutCounterpartySrmId">
      <input wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutCounterpartySrmIdRequest" message="tns:PutCounterpartySrmId"/>
      <output wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutCounterpartySrmIdResponse" message="tns:PutCounterpartySrmIdResponse"/>
    </operation>
    <operation name="ContractConclusionRequestAsync">
      <input wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/ContractConclusionRequestAsyncRequest" message="tns:ContractConclusionRequestAsync"/>
      <output wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/ContractConclusionRequestAsyncResponse" message="tns:ContractConclusionRequestAsyncResponse"/>
    </operation>
    <operation name="PutCounterpartyBankDetails">
      <input wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutCounterpartyBankDetailsRequest" message="tns:PutCounterpartyBankDetails"/>
      <output wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutCounterpartyBankDetailsResponse" message="tns:PutCounterpartyBankDetailsResponse"/>
    </operation>
    <operation name="PutCounterpartyIdoSrmDetails">
      <input wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutCounterpartyIdoSrmDetailsRequest" message="tns:PutCounterpartyIdoSrmDetails"/>
      <output wsam:Action="http://irule.spi2.ru/jaxws/iasproverka/CounterPartyControlServiceImpl/PutCounterpartyIdoSrmDetailsResponse" message="tns:PutCounterpartyIdoSrmDetailsResponse"/>
    </operation>
  </portType>
  <binding name="CounterpartyControlServicePortBinding" type="tns:CounterPartyControlServiceImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="&#1057;heckAndSaveRegistrCounterpartySRM_Async">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConcurrentProcedureConclusionRequestAsync">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PutHistoricalContracts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PutCounterpartyContacts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PutContractStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PutCounterpartySrmId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ContractConclusionRequestAsync">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PutCounterpartyBankDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PutCounterpartyIdoSrmDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CounterpartyControlService">
    <port name="CounterpartyControlServicePort" binding="tns:CounterpartyControlServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

